/* The Coding Designer's Survival Kit
  A framework for designing websites in the browser.

  Much love to:
  Sass, Compass, HTML5 Boilerplate, Modernizr, Formalize, and more

  Available at http://thecodingdesigner.com
  twitter: http://twitter.com/canarymason


/* -------------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------
/* This CSS was authored using Sass & Compass
  Download the source files here:
  https://github.com/canarymason/The-Coding-Designers-Survival-Kit
  Learn more about Sass & Compass at http://compass-style.org/




// FOLLOW THE STEP-BY-STEP IN THE CORRESPONDING PARTIAL TO YOUR CHOSEN FLAVOR
  ---------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------
// INTRODUCTION
  This is the central organizing sass file where we manage all the imported partials
  in The Kit. Don't write custom code here. Instead, import files that bring in
  default code from The Kit and files that add your custom code. The checklist below
  should help you put these files in order.
  ---------------------------------------------------------------------------------------

// TODO: refactor items in /lib/ into a compass extension

// THE FIRST IMPORTS ADD NO CSS UPON COMPILE


// ✔ IMPORT COMMON FUNCTIONS AND VARIABLES
// enable / disable, but do not edit these files
@import partials/lib/functions/all
@import partials/lib/variables/all


// ✔ 1. ADD YOUR OWN VARIABLES
// base, color, fonts, grids
// edit these as you see fit
@import partials/01-variables/all


// ✔ IMPORT COMPASS AND OTHER GEMS
// enable / disable, but do not edit these files
@import compass
// add any others here


// ✔ IMPORT COMMON MIXINS
// enable / disable, but do not edit these files
@import partials/lib/mixins/all



// THE FOLLOWING IMPORTS WILL ADD CSS UPON COMPILE

// ✔ ADD A CSS RESET OR NORMALIZATION
@import partials/lib/reset/reset


// ✔ RESET DRUPAL CORE AND MODULES
// @import partials/drupal/reset
// @import partials/drupal/modules/typogrify


// ✔ IMPORT COMMON HELPER EXTENDABLES
@import partials/lib/extend/all

// ✔ 2. ADD YOUR OWN EXTENDABLES
// typography
@import partials/02-extend/all


// ✔ 3. EDIT AND ADD YOUR DEFAULT STYLES
// This is worth going into in detail
// edit as you see fit for your project
@import partials/03-defaults/all


// ✔ 4. CHOOSE A GRID SYSTEM
// @import partials/04-grids/grids-blueprint.sass
// @import partials/04-grids/grids-susy.sass


// ✔ 5. STYLE COMMON UI PATTERNS / DRUPAL UI PATTERNS
// @import partials/05-ui-patterns/common
// @import partials/05-ui-patterns/drupal/ui-patterns


// ✔ 6. PROCESS SPRITES WITH COMPASS
// @import partials/06-sprites/sprites



// --------------------------------------------------------------------------------------
// ✔ 7. YOUR CUSTOM LAYOUT AND DESIGN SASS
// THIS IS WHERE MOST CUSTOM WORK WILL GO
// -- PRIMARY DESIGN --
@import partials/07-layout-design/layout
@import partials/07-layout-design/design
// ------ OR ------
// -- STYLE TILE DESIGN --
// enable these partials for styletile layout and design
// work with styletile.html
// see: http://badassideas.com/style-tiles-as-a-web-design-process-tool/
// @import partials/08-styletile/tile-layout
// @import partials/08-styletile/tile-design
// --------------------------------------------------------------------------------------


// ✔ 8. CHOOSE A RESPONSIVE STARTER
// @import partials/09-responsive/responsive-blueprint
// @import partials/09-responsive/responsive-susy


// ✔ 9. ENABLE PRINT STYLES
// @import partials/10-media/print


// ✔ 10 ADJUST FOR LESSER/GREATER SYSTEMS
// @import partials/11-browser_adjustments/modernizr
// IE STYLES - aren't needed by other browsers, so compile them as a separate file and load via conditionals
// SELECTIVIZR is nice, but the fallback css should really be compiled to a separate file


//
// @import partials/lib/survival_kit/survival-kit




