/* Links --------------------------------------------------------------
// replace underlines on links with bottom borders
=better-links($normal, $hover: false, $active: false, $visited: false, $focus: false)
  &
    text-decoration: none
    border-bottom: 1px solid $normal
    @if $visited
      &:visited
        border-bottom-color: $visited
    @if $focus
      &:focus
        border-bottom-color: $focus
    @if $hover
      &:hover
        border-bottom-color: $hover
    @if $active
      &:active
        border-bottom-color: $active


// fade between default and hover colors
=link-transitions($time: 0.5s, $easing: 'ease-out', $property: 'all')
  +transition($property, $time, $easing)

// remove bottom borders from better links
// call directly from an <a> element
// (needed when linking an <img/> for example)
=remove-link-underlines()
  &
    border-bottom: none
    &:hover
      border-bottom: none


=accessible-color($background: $white)
  @if lightness($background) >= 65%
    color: $base-color
  @else
    color: white

// add style and weight to:
// http://compass-style.org/reference/compass/css3/font_face/#mixin-font-face
=kit-font-face($name, $font-files, $eot: false, $style: false, $weight: false)
  $iefont: unquote("#{$eot}?iefix")
  @font-face
    font-family: quote($name)
    @if $eot
      src: font-url($eot)
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files
    src: $font-files
    @if $style
      font-style: $style
    @if weight
      font-weight: $weight

